<!DOCTYPE html>
<html ng-app="CustomView" ng-controller="MainController as ctrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ctrl.model.clientName}}</title>
    <link rel="stylesheet" href="/CustomView/Styles/CustomViewStyles.css" />
    <script src="/CustomView/Scripts/angular.js"></script>
    <script src="/CustomView/Scripts/encoder.js"></script>
    <script src="/CustomView/Scripts/CustomView.js"></script>
    <script src="/CustomView/Scripts/AntiForgeryToken.js"></script>
    <script src="/CustomView/Scripts/encoder.js"></script>
</head>
<body lang="en">
    <div>
        <div>
            <span>{{ctrl.model.clientName}}</span>
            <span>{{ctrl.model.loginUrl}}</span>
            <br />
            <div>{{ctrl.model}}</div>
        </div>
    </div>
    <div>
        <div>
            <h1>This is a custom view of the Login screen</h1>
        </div>
    </div>

    <div ng-cloak>
        <div class="page-header">
            <h1>Login / Sign In</h1>
        </div>
        <div>
            <div>
                <p>Would you like to sign in to {{ctrl.model.clientName}}?</p>
                <form name="form" method="post" action="{{ctrl.model.loginUrl}}">
                    <anti-forgery-token token="ctrl.model.antiForgery"></anti-forgery-token>
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input required name="username" autofocus id="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input required id="password" name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" maxlength="100" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-disabled="form.$invalid">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div ng-show="ctrl.model.externalProviders">
            <div >
                <div >
                    <h3 >External Login</h3>
                </div>
                <div >
                    <ul >
                        <li ng-repeat="provider in ctrl.model.externalProviders">
                            <a  href="{{provider.href}}">{{provider.text}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script id='modelJson' type='application/json'>
        {model}
    </script>

</body>
</html>

