<div id="news-container" ng-if="!vm.errorMessage">
  <div id="news-main">
    <h2>News Headlines</h2>
    <div ng-repeat="article in vm.newsArticles" class="article">
      <h4>{{article.title}}</h4>
      <p>{{article.body}}</p>
    </div>
  </div>
  <div id="news-archive">
    <h4>Archive</h4>
    <div ng-repeat="article in vm.newsArticles" class="article-link">
      <a href="#">{{article.title}}</a>
    </div>
  </div>
</div>
<div id="error-container" ng-if="!!vm.errorMessage">
  <h2>There was an error retrieving the news articles: {{vm.errorMessage}}</h2>
</div>
