@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="CustomView" ng-controller="MainController as ctrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Model.ClientName</title>
    <link rel="stylesheet" href="/CustomView/Styles/CustomViewStyles.css" />

</head>
<body lang="en">
    <div>
        <div>
            <h1>Bye Bye, come back soon.</h1>
        </div>
    </div>

    <div ng-cloak>
   
        <div>
            <div>
                <p>You are logged out. Bye!</p>
                
            </div>
        </div>
    </div>
    
</body>
</html>
