<!DOCTYPE html>
<html ng-app="CartoonsApp">
<head>
    <title></title>
	<meta charset="utf-8" />

    <!--These get concatenated into the file path specified in the comment below-->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/MainStyles.css" />
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
    <!-- endbuild -->
    <!-- build:js scripts/angularmain.min.js -->
    <!--Angular-->
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/oidc-token-manager/dist/oidc-token-manager.js"></script>
    <!--My scripts-->
    <script src="scripts/Config.js"></script>
    <script src="scripts/CartoonController.js"></script>
    <script src="scripts/TopBarController.js"></script>
    <script src="scripts/OidcService.js"></script>
    <script src="scripts/CallbackController.js"></script>
    <script src="scripts/CartoonsService.js"></script>
    <script src="scripts/CharactersService.js"></script>
    <script src="scripts/CharactersController.js"></script>
    <script src="scripts/TokenInformationService.js"></script>
    <script src="scripts/TokenInformationController.js"></script>
    <!-- endbuild -->
</head>
<body>
    <nav>
        <md-toolbar class="topBar" ng-controller="TopBarController as vm">
            <h2>
                <span>Super Awesome Login App</span>
            </h2>
            <span flex >
                <md-button class="md-raised md-cornered md-accent" ng-href="#/home">Home</md-button>
                <md-button class="md-raised md-cornered md-accent" ng-href="#/cartoons">Cartoons</md-button>
                <md-button class="md-raised md-cornered md-accent" ng-href="#/characters">Characters</md-button>
                <md-button class="md-raised md-cornered md-accent" ng-href="#/tokenInformation">Token information</md-button>
                <md-button class="md-raised md-cornered md-accent" ng-href="#/" ng-click="vm.login()">Login</md-button>
                <md-button class="md-raised md-cornered md-accent" ng-href="#/" ng-click="vm.logout()">Logout</md-button>
            </span>

        </md-toolbar>
    </nav>
    <content>
        <div ng-view class="mainContent"></div>
    </content>
</body>
</html>
